* {
	padding: 0;
	margin: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*============Default style=============*/
/*
	1. Desktop First
	2. Mobile First
 */






/*============Desktop style=============*/

.container {
	background-color: #ccc;
	max-width: 1200px;
	margin: 0 auto;
}

header {
	background-color: orange;
	display: flex;
}

header img.logo {
	width: 64px;
	height: 64px;
}

header nav {
	display: flex;
}

header nav a {
	display: block;
	padding: 10px 20px;
	line-height: 40px;
	text-decoration: none;
	background-color: wheat;
}

header nav a:hover {
	background-color: skyblue;
}

.main-content {
	height: 350px;
	margin: 20px 0;
	overflow: hidden;
}

.mainSection .list_1 {
	padding: 0 10px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.mainSection .list_1 img {
	width: 128px;
}

.leftNav ul li {
	height: 30px;
	background-color: blueviolet;
	margin-bottom: 10px;
}

.rightNav ul li{
	height: 60px;
	background-color: blueviolet;
	margin-bottom: 10px;
}


footer {
	min-height: 120px;
	background-color: darkorange;
}



/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  float: left;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  header {
  	position: fixed;
  	top: 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	/* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	/* to do code */

  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}













